/* Стили  */

body{
    background-color: #272727;
    color: #ffffffb4;
}

article{
    display: flex;
}

header{
    width: 100%;
    height: auto;
    background: #272727;
    background-color: rgb(39, 39, 39);
    background-size: 100%
    
}

.header-text{
    transform: translate(0%, -200%);
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 91px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}

main{
    background-color: #272727;
}
body{
    background-color: #272727;
}

#programs{
    display: flex;
}
.program{
    margin: 16px;
    width: 33%;
}

.cont{
    display:flex;
}

.program_text{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    border: 1px solid #272727;
}

.program_text_min{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid#272727;
}

.img_left{
    border: 1px solid #272727;
}

.img_right{
    border: 1px solid #272727;
}

.program_data{

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    
}